{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <h2>User Registration</h2>
  {% include 'error_message.html' %}
  <form method="post" action="{% url 'user-registration' %}">
    {% csrf_token %}
    <div class="mb-3">
      <label for="username" class="form-label">Username:</label>
      <input type="text" class="form-control" id="username" name="username" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password:</label>
      <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <!-- <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input type="email" class="form-control" id="email" name="email" required>
    </div> -->
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
</div>
{% endblock %}
